section#chat {
  display: flex;
  flex-direction: column;
  .chat-container {
    flex: 1 1 auto;
    overflow-y: auto;
  }
  .message-types {
    background: lightgrey;
    border-radius: 15px;
    padding: 5px 20px;
    margin: 5px auto;
    text-align: center;
    .radio {
      margin-left: 15px;
    }
  }
}

section#home {
  .list-item {
    padding: 7px;
    border-bottom: 2px solid lightgrey;
    margin: 0 5px;
    text-transform: capitalize;
  }
}

section#login,
section#register {
  text-align: center;
  .input {
    margin: 2px;
    display: block;
  }
}
