@font-face {
  font-family: SairaExtraCondensed_Bold;
  src: url("./assets/fonts/SairaExtraCondensed-Bold.ttf");
}

@font-face {
  font-family: Economica_Regular;
  src: url("./assets/fonts/Economica-Regular.ttf");
}

@font-face {
  font-family: NanumPenScript_Regular;
  src: url("./assets/fonts/NanumPenScript-Regular.ttf");
}

@font-face {
  font-family: Neucha_Regular;
  src: url("./assets/fonts/Neucha-Regular.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
button,
div,
span,
textarea,
a {
  font-family: Neucha_Regular !important;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

i {
  cursor: pointer;
  margin: 2px;
}

.app {
  display: flex;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  flex-direction: column;
  padding: 0;
  header {
    display: flex;
    align-items: center;
    background: #f9f9f9;
    padding: 10px 3px;
    margin: 0;
    h3 {
      margin: 0;
      padding: 0;
      flex: 1 1 auto;
    }
    .username {
      margin: 0 5px;
      padding: 1px 3px;
      border-radius: 5px;
      background: lightgrey;
    }
  }
  .content {
    flex: 1 1 auto;
    section {
      height: 500px;
    }
  }
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px !important;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(71, 71, 71);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(2, 67, 104);
}
